/* API settings */
.settings {
    background-color: rgba(#1D1D1D, 0.6);
    padding: 0.75rem .75rem .75rem;
    margin-bottom: 1rem;

    label {
        display: block;
        font-weight: bold;
        margin-bottom: .25rem;
    }
}

.form {
    background-color: rgba(#1D1D1D, 0.6);
    padding: 1rem;
    max-width: 500px;
    margin-top: 1rem;

    button {
        margin-top: .5rem;
    }
}

.control {
    overflow: hidden;
    margin-bottom: .75rem;
}

.text-warning {
    color: #FFC453;
}

.text-center {
    text-align: center;
}

/* Select editor */
#buildersContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(#1D1D1D, 0.6);
    padding: .25rem .75rem .25rem 0;
    margin-bottom: 1rem;

    button {
        background: transparent;
        width: auto;
        min-width: 120px;
        border-radius: 4px;
        padding: .75rem 0;
        margin: .5rem 0 .5rem .75rem;
        flex: 1;

        &.active, &:hover {
            background-color: #2F2F2F;
        }

        img {
            margin: 0 auto;
            max-width: 100%;
            height: 24px;
        }
    }
}

/* Select category */
#selectContainer {
    margin-bottom: 1rem;
    margin-left: .75rem;

    select {
        background-color: #2F2F2F;
        color: #fff;
        padding: .5rem;
        width: 200px;
        max-width: 100%;
        text-transform: capitalize;
        border-radius: 4px;
    }
}

/* Components list */
#componentsContainer {
    background-color: rgba(#1D1D1D, 0.6);
    padding: .75rem;
}

.component-img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto .75rem auto;
    border-radius: 2px;
    cursor: pointer;
}
