section#buildersContainer
    button(data-key="tailwind")
        img(src="https://tailwind.build/static/img/logos/tailwind-builder-logo_100px.png", alt="Tailwind builder logo")
    button(data-key="bootstrap")
        img(src="https://tailwind.build/static/img/logos/bootstrap-shuffle-logo_100px.png", alt="Bootstrap builder logo")
    button(data-key="bulma")
        img(src="https://tailwind.build/static/img/logos/bulma-builder-logo_100px.png", alt="Bulma builder logo")
    button(data-key="material")
        img(src="https://tailwind.build/static/img/logos/material-ui-builder/material-ui-builder_logo_100px.png", alt="Material-ui builder logo")
