div#editorsContainer
    button.active(data-id="tailwind")
        img(src="https://shuffle.dev/vendor/shuffle/img/logos/tailwind-css.svg" width="16")
        | Tailwind CSS
    button(data-id="bootstrap")
        img(src="https://shuffle.dev/vendor/shuffle/img/logos/bootstrap-logo.svg" width="16")
        | Bootstrap
    button(data-id="material-ui") 
        img(src="https://shuffle.dev/vendor/shuffle/img/logos/material-ui.svg" width="16")
        | Material-UI
    button(data-id="bulma")
        img(src="https://shuffle.dev/vendor/shuffle/img/logos/bulma.svg" width="16")
        | Bulma
