main
    include settings
    include editors

    div
        .status
            div#libraryContainer
            div#categoryContainer

        div#componentsContainer
            h2.text-center Loading...
