main
    include settings
    include editors

    div
        .status
            div#libraryContainer
            div#categoryContainer

        div#howto
            h3#howto-message.text-center.hidden Click the component to copy it to the clipboard.
            div#componentsContainer
                h2.text-center Loading...
