section
    p This is a DEMO version. You need to create a full account in one of our visual editors:
    ul
        li
            a(href="https://tailwind.build") Tailwind Builder
        li
            a(href="https://bootstrapshuffle.com") Bootstrap Shuffle
        li
            a(href="https://bulma.dev") Bulma Builder
        li
            a(href="https://mui.dev") Material-UI Builder

    p After creating the account, go to Account -> API Settings and paste your API key below:

    label(for="keyInput") API Key:
    input#keyInput(type="text")
    button#keyButton Fetch all components
