div.settings
    p This is a #[span.text-warning DEMO version]. You need to create a full account to use all UI components. You can do it in any of our editors:
    ul
        li
            a(href="https://tailwind.build") Tailwind Builder
        li
            a(href="https://bootstrapshuffle.com") Bootstrap Shuffle
        li
            a(href="https://bulma.dev") Bulma Builder
        li
            a(href="https://mui.dev") Material-UI Builder

    p After creating the account, please visit "Account → VSC Extension" and paste your API details below.

    .form
        .control
            label(for="emailInput") E-mail:
            input#emailInput(type="text")
        .control
            label(for="keyInput") API Key:
            input#keyInput(type="text")

        button#keyButton Save &amp; fetch all components
